In [1]:
import pandas as pd

dataset = pd.read_csv("uci_base_machine_learning.csv")

dataset.keys()

Index(['UDI', 'Product ID', 'Type', 'Air temperature [K]',
       'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]',
       'Tool wear [min]', 'Machine failure', 'TWF', 'HDF', 'PWF', 'OSF',
       'RNF'],
      dtype='object')

In [2]:
x_dataset = dataset.drop(columns=['UDI', 'Product ID', 'Type','Tool wear [min]',
                                  'Machine failure', 'TWF', 'HDF', 'PWF', 'OSF',
                                  'RNF'])

y_dataset = dataset.drop(columns=['UDI', 'Product ID', 'Type', 'Air temperature [K]',
                               'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]',
                               'Tool wear [min]', 'Machine failure'])

In [3]:
channels = list(x_dataset.keys())

sequence = 30

In [4]:
y_dataset

      TWF  HDF  PWF  OSF  RNF
0       0    0    0    0    0
1       0    0    0    0    0
2       0    0    0    0    0
3       0    0    0    0    0
4       0    0    0    0    0
...   ...  ...  ...  ...  ...
9995    0    0    0    0    0
9996    0    0    0    0    0
9997    0    0    0    0    0
9998    0    0    0    0    0
9999    0    0    0    0    0

[10000 rows x 5 columns]

In [44]:
import numpy as np

dict_features_x = {}
#dict_keys(['Air temperature [K]', 'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]'])
matrix_channels = np.array([np.array((x_dataset[feature].tolist())) for feature in x_dataset.keys()])

In [50]:
context = 5
# 4 -> features

data_points = matrix_channels.shape[1]


# size_reshape_context = data_points//context

# matrix_channels = np.reshape(matrix_channels, (-1, context, size_reshape_context))

matrix_channels.shape

(4, 10000)

In [53]:
list_context = []

for i in range(data_points - context):
    list_context.append(matrix_channels[:, i:i+context])

In [55]:
np.array(list_context)[:1]

array([[[ 298.1,  298.2,  298.1,  298.2,  298.2],
        [ 308.6,  308.7,  308.5,  308.6,  308.7],
        [1551. , 1408. , 1498. , 1433. , 1408. ],
        [  42.8,   46.3,   49.4,   39.5,   40. ]]])

In [41]:
x_dataset.head(10)

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm]
0,298.1,308.6,1551,42.8
1,298.2,308.7,1408,46.3
2,298.1,308.5,1498,49.4
3,298.2,308.6,1433,39.5
4,298.2,308.7,1408,40.0
5,298.1,308.6,1425,41.9
6,298.1,308.6,1558,42.4
7,298.1,308.6,1527,40.2
8,298.3,308.7,1667,28.6
9,298.5,309.0,1741,28.0